.searchPage {
    padding: 5rem 2rem;
}
.searchPageInfoTopPara {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}
.searchPageInfoTopParaSpan {
    position: relative;
    display: inline-block;
    margin-right: 1.5rem;
}
.searchPageInfoTopParaSpan::before {
    content: '.';
    position: absolute;
    top: 0;
    left: -0.5rem;
}
.searchPageButtonsContainer {
    margin-top: 1rem;
}

.searchResults {
    margin-top: 3rem;
}
